<div class="row">
	<h1>Igualitos DIINF</h1>
  <hr>
  <div class="row" data-equalizer>
	  <div class="large-6 columns " data-equalizer-watch>
	    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor ligula ac mi consectetur, ac scelerisque est congue. Morbi in sem at urna tempus adipiscing. Nam eleifend risus vitae rutrum eleifend. Integer pellentesque, ligula ut consectetur lobortis, libero quam ultrices sapien, eu eleifend quam massa sed tortor. Aliquam tempor fringilla ultricies. Nulla eleifend venenatis sem nec blandit. Aliquam at venenatis tortor. Aliquam eu risus in felis ultricies posuere dapibus ut urna.</p>
	  </div>
	  <div class="large-6 columns " data-equalizer-watch>
	    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor ligula ac mi consectetur, ac scelerisque est congue. Morbi in sem at urna tempus adipiscing. Nam eleifend risus vitae rutrum eleifend. Integer pellentesque, ligula ut consectetur lobortis, libero quam ultrices sapien, eu eleifend quam massa sed tortor. Aliquam tempor fringilla ultricies. Nulla eleifend venenatis sem nec blandit. Aliquam at venenatis tortor. Aliquam eu risus in felis ultricies posuere dapibus ut urna.</p>
	  </div>
	</div>
  <div class="panel">
  	<div class="row">
  		<div class="small-8 small-offset-2 columns">
  		<br>
  		<p class="text-center">Bienvenido! si eres nuevo por acá, entonces por favor <%= link_to "registrate", signup_path %> para utilizar la aplicación. Si solo estas de paso, puedes echar un vistazo (por <%= link_to "acá", "#" %>), pero no podras votar, ni postular igualitos. Y obviamente si ya eres parte del sitio loggeate arriba para continuar!</p>
  		</div>
  	</div>
  </div>
</div>